numpy>=1.26,<3.0
pandarallel>=1.6.5
pandas>=2.2,<3.0
ParticleRigidityCalculationTools>=1.5.17
scipy>=1.11,<2.0
setuptools>=68.0.0
spacepy>=0.7.0
tqdm>=4.67.0
plotly>=6.0.0
numba>=0.64.0
metpy>=1.7.0
CosRayModifiedISO>=1.2.10
AsympDirsCalculator>=1.0.14
seaborn>=0.13.2
geopandas>=1.1.0
joblib>=1.5.0
spaceweather>=0.4.0
atmosphericRadiationDoseAndFlux>=1.0.12
kpindex>=2.1.0
ipywidgets>=8.1.5
dask>=2022.0.0
pyarrow>=12.0.0
matplotlib>=3.10.1
psutil>=7.0.0
netCDF4>=1.7.2
imageio>=2.37.0
cartopy>=0.22.0
OTSO>=1.2.4
geopy>=2.0.0
pynverse>=0.1.4.6
xgboost>=1.6.0
